page-ride-detail-modal {

	margin-top: 130%;
}



page-map {

  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  ion-content {
    background-color: transparent !important;
  }
  ion-label{
  	text-align: center;
  }
  .confirmBookingButton{
  	align-content: center;
  	position: absolute;
  	text-align: center;
  	left: 50%;
  }
  .go-back-button, .search-button {
    background-color: transparent !important;
    box-shadow: none;
    .activated {
      background-color: transparent !important;
    }
  }
}
