<ion-header no-shadow>
    <ion-navbar>
        <ion-buttons end *ngIf="showSkip">
            <button ion-button (click)="startApp()" color="primary">Skip</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-bounce class="bg-img">
    <ion-slides (ionWillChange)="onSlideChangeStart($event)" pager>
        <ion-slide *ngFor="let slide of slides">
            <img [src]="slide.image" class="slide-image" alt="slide.title" />
            <h2 class="slide-title" [innerHTML]="slide.title"></h2>
            <p [innerHTML]="slide.description"></p>
        </ion-slide>
        <ion-slide>
            <img src="assets/img/ica-slidebox-img-4.png" class="slide-image" alt="slide" />
            <h2 class="slide-title">Ready for hangout?</h2>
            <button ion-button icon-right large clear (click)="startApp()">
        Continue
        <ion-icon name="jet"></ion-icon>
      </button>
        </ion-slide>
    </ion-slides>
</ion-content>